/* =============
    Base
============= */

button{
    color: $white;
    background-color $pink;
}

h1{
    color: $white;
    background-color: $darkpurple;
    background-size: cover;
    height: 96px;
}

h3{
color: $darkpurple;
}