/* =============
    Base
============= */

header, section, footer, aside, nav, article, figure{
    display: block;
}

button{
    color: $white;
    background-color: $pink;
}

h1{
    color: $white;
    background-color: $darkpurple;
    height: 96px;
    background-size: cover;
    font-family: 'Lily Script One', cursive;
    text-align: center;
    line-height: 94px;

    @include sm{
        font-size: 32pt;
    }
    @include md{
        font-size: 36pt;
    }
    @include lg{
        font-size: 48pt;
    }
}

h3{
    color: $darkpurple;
    font-family: 'Lily Script One', cursive;
    @include sm{
        font-size: 21pt;
    }
    @include md{
        font-size: 24pt;
    }
    @include lg{
        font-size: 32pt;
    }
}


p{
    font-family: 'Rubik', sans-serif;

    @include sm{
        font-size: 14pt;
    }
    @include md{
        font-size: 14pt;
    }
    @include lg{
        font-size: 16pt;
    }
}

h2{
    font-family: 'Rubik', sans-serif;

    @include sm{
        font-size: 21pt;
    }

    @include md{
        font-size: 24pt;
    }

    @include lg{
        font-size: 32pt;
    }
}

h6 {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    color: white;
}