/* =============
    Footer
============= */

footer{
    display: grid;
    grid-template-columns: 24px auto 24px;
    grid-template-areas: ". footer .";

    >div{
        grid-area: footer;
    }
}