/* =============
    Footer
============= */


footer{
    display: grid;
    grid-area: footer;
    background-color: $darkpurple;
    grid-template-areas: ". footer .";

    @include sm{
        grid-template-columns: 24px auto 24px;
    }

    @include md{
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: "f1 f2";
            gap: 24 px;
    }
    
    #contact-info{

        color: $white;

        @include md{
            grid-area: f1;
        }
    }

    #signup{

        color: $white;

        @include md{
            grid-area: f2;
        }

        #form{
            color: $darkpurple;
            background-color: $white;
        }
    }

    #copyright{

        color: $white;
    }
}