/* =============
    Header
============= */

header {
    display: grid;
    position: absolute;
    grid-template-columns: 65px auto 65px;
    grid-template-areas: ". header .";
    background-color: white;
    background-size: cover;
    height: 88px;
    
    header.grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: "f1 f2 f3";
    }
	
    #logo{
        grid-area: header;
        padding: 15px;
    }

    #donatebutton{
        grid-area: f3;
        height: 68px;
        width: 209px;
        border-style: none;
        font-family: 'Rubik', sans-serif;
        color: white;
    }
}