/* =============
    Header
============= */

header {

	>div {

		img {
			width: 100%;
            padding: 65 px;
		}

        #aside{
            display: grid;
            grid-template-columns: auto 24px;
        }
	}
}