/* =============
    Header
============= */

header {
    background-color: white;
    background-size: cover;
    height: 88px;
	
    #logo{
        grid-area: header;
        padding: 15px;
        float: left;
    }

    button {
        height: 88px;
        width: 209px;
        float: right;
        border-style: none;
        font-family: !important 'Rubik', sans-serif;
        font-size: 30px;
        color: !important white;
    }
}