/* =============
    Catering
============= */

#catering{


    img{
        @include sm{
            width: 268px;
        }
        @include md{
            width: 271px;
        }
        @include lg{
            width: 406px;
        }
    }

    p{
        @include sm{
            width: 243px;
        }
        @include md{
            width: 245px;
        }
        @include lg{
            width: 321px; 
        }
    }

    button{
        height: 31px;
        width: 194px;
        font-size: 14pt;
        line-height: 0pt;
        border: 0px-solid $pink;
        border-radius: 3px;
        color: !important white;
        margin-bottom: 32px;
        border-style: none;
        position: relative;
        text-align: center;
    }

    #cateringbanner{
        background-image: url('../img/catering/catering-banner-image-desktop-HD.png');
        display: flex;
        justify-content: center;
        align-items: center
    }
    
   .cateringservices{
        height: 345px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: $darkpurple;

        @include sm{
            width: 266px;
            text-align: center;
            margin-bottom: 16px;
        }
        @include md{
            width: 659px;
            text-align: center;
            margin-bottom: 16px;
        }
        @include lg{
            width: 874px;
            text-align: center;
            margin-bottom: 16px;
        }
    }





    .choice1{
        @include md{
            grid-area: f1;
            color: $darkpurple;
        }
        
    }
    .choice2{
        @include md{
            grid-area: f2;
            color: $darkpurple;
        }
    }

    .choice3{
        @include md{
            grid-area: f3;
            color: $darkpurple;
        }
    }

    .choice4{
        @include md{
            grid-area: f4;
            color: $darkpurple;
        }
    }
}