/* =============
    Catering
============= */

#catering{

    >div{

        h2{
            color: $darkpurple;
        }

        @include sm{
            display: grid;
            grid-template-columns: 24px auto 24px;
        }

    @include md{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "f1 f2"
        "f3 f4";
        gap: 16 px;
    }

    #choice1{
        @include md{
            grid-area: f1;
        }

        p{
            color: $darkpurple;
        }
    }

    #choice2{
        @include md{
            grid-area: f2;
        }

        p{
            color: $darkpurple;
        }
    }

    #choice3{
        @include md{
            grid-area: f3;
        }

        p{
            color: $darkpurple;
        }
    }

    #choice4{
        @include md{
            grid-area: f4;
        }

        p{
            color: $darkpurple;
        }
    }
    
    }
}