/* =============
    The Good Stuff
============= */

#thegoodstuff{

    #menuheader{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "f1 f1"
    }

    button{
        height: 31px;
        width: 194px;
        font-size: 14pt;
        line-height: 0pt;
        border: 0px solid $pink;
        border-radius: 3px;
    }
    

    @include sm{
        display: grid;
            grid-template-columns: 24px auto 24px;
    }

    #menuoptions{

        @include md{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: "f1 f2"
                "f3 f4"
                "f5 f6"
                "f7 f8"
                "f9 f10";
                gap: 16 px;
        
            #description1{
                grid-area: f1;
                color: $darkpurple;
            }

            #image1{
                grid-area: f2;
            }

            #image2{
                grid-area: f3;
            }

            #description2{
                grid-area: f4;
                color: $darkpurple;
            }

            #description3{
                grid-area: f5;
                color: $darkpurple;
            }

            #image3{
                grid-area: f6;
            }

            #image4{
                grid-area: f7;
            }

            #description4{
                grid-area: f8;
                color: $darkpurple;
            }

            #description5{
                grid-area: f9;
                color: $darkpurple;
            }

            #image5{
                grid-area: f10;
            }
        }

    }
    
}