/* =============
    Why We Work
============= */

#whywework{

    display: grid;
    grid-template-columns: 24px auto 24px;
    grid-template-areas: ". whywework .";
    width: 300px;
    color: red;

    #blockquote{
        color: red;
        width: 300px;
    }
}