/* =============
    Why We Work
============= */

#whywework{

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: ". whywework .";

    h2{
        color: $darkpurple;
        text-align: center;
        position: relative;
        font-style: light;
        width: 268px;
    }

    @include sm{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "f1"
        "f2"
        "f3";
        gap: 16 px;
    }  
}
